<html lang="en">
<head>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}MySite{% endblock %}</title>
</head>
<body>
    <nav class="nav navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">


             <a class="navbar-brand" href="/">Home</a>

              <div class="collapse navbar-collapse" id="#navbarSupportedContent">
                <ul class="nav navbar-nav">

                  <li class="nav-item">
                    <li><a  href="#">Random Post</a>&nbsp;&nbsp;</li>
                    <li><a href="#">My Profile</a>&nbsp;&nbsp;</li>
                    <li><a  href="#">Settings</a>&nbsp;&nbsp;</li>
                  </li>
                </ul>
               </div>
        </div>

    </nav>
    <div id="content">
        {% block content %}
            this is fallback text
        {% endblock %}
    </div>
</body>
</html>